<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <form method="PUT" action="{% url  'put_car' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="model" placeholder="Model Car">
            <button type="submit">Pesquisar Model</button>
        </form>
    {% endblock %}
</body>
</html>